<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8" />
      <title><%= project_name %></title>
      <!-- build:css css/style.css -->
      <!-- bower:css -->
	  <!-- endbower -->
      <link rel="stylesheet" type="text/css" href="css/style.css">
      <!-- endbuild -->
   </head>

   <body>
	   <canvas id="render"></canvas>
	   
	   <!-- build:js scripts/vendor.js -->
      <script src="scripts/babylon.js"></script>
      <!-- bower:js -->
	  <!-- endbower -->
      <!-- endbuild -->
      
      <!-- build:js scripts/main.js -->
      <script src="scripts/main.js"></script>
      <!-- endbuild -->
	   
   </body>

</html>